@using Radzen;
@model WebApp.Views.Shared.Components.CharacterSheetFullViewComponent

@{
    ICharacterActor actor = Model.Actor;
    ICharacterClass actorClass = actor.Class;
    IPlayerClass playerClass = (IPlayerClass) actorClass;
    string characterName = actor.Name;
    string className = actorClass.Name;
    string classDesc = actorClass.Desc;
    IStatMap actorStats = actor.Stats;
    
    //List<WeaponType>
}

<h3>Character Sheet</h3>
<h4>Actor: @Model.Actor.Name</h4>

<table>
    <tr>
        <td class="bordered" style="width: 20%;">
            <img src="rouche_icon.png" width="150" height="150"/>
            <h1 style="margin-bottom: 0px;">@characterName</h1>
            <h2 title="@classDesc">@className</h2>
            <hr/>
            <p style="margin: 5px;"><b>Level:</b> @actorStats[StatType.LVL]</p>
            <p class="progress-title"><b><abbr title="Experience Points">EXP:</abbr></b> @actorStats[StatType.EXP]/100</p>
            <RazdenProgressBar Value="@actorStats[StatType.EXP]" Max="100"></RazdenProgressBar>
            <p class="progress-title"><b><abbr title="Health Points">HP</abbr>:</b> @actorStats[StatType.HP]/@actorStats[StatType.HP_Max]</p>
            <progress value="@actorStats[StatType.HP]" max="@actorStats[StatType.HP_Max]"></progress>
            <p class="progress-title"><b><abbr title="Stamina Points">STA</abbr>:</b> @actorStats[StatType.STA]/@actorStats[StatType.STA_Max]</p>
            <progress value="@actorStats[StatType.STA]" max="@actorStats[StatType.STA_Max]"></progress>
        </td>
        <td class="bordered" style="width: 25%;">
            <div class="bordered-inner" style="width: 95%;">
                <h3 class="title"><u>Proficiencies</u></h3>
                <table>
                    <tr>
                        <th style="text-align: right;">Weapons</th>
                        <!-- TODO List Weapon Types -->
                    </tr>
                    <tr>
                        <th style="text-align: right;">Armor</th>
                        <td>Light, Medium</td>
                    </tr>
                </table>
            </div>
            <hr/>
            <div class="bordered-inner" style="width: 95%;">
                <h3 class="title"><u>Equipment</u></h3>
                <table>
                    <tr>
                        <th style="text-align: right;">Weapon</th>
                        <td><button title="A short sword common among military recruits.">Short Sword</button></td>
                    </tr>
                    <tr>
                        <th style="text-align: right;">Armor</th>
                        <td><button title="Simple armor made from overlapping leather.">Leather Armor</button></td>
                    </tr>
                    <tr>
                        <th style="text-align: right;">Item</th>
                        <td><button title="A mystical potion that restores a small amount of health.">Health Potion</button></td>
                    </tr>
                    <tr>
                        <th style="text-align: right;">Item</th>
                        <td><button>[EMPTY]</button></td>
                    </tr>
                </table>
            </div>
        </td>
        <td class="bordered" style="width: 20%;align-content: right;">
            <h3 class="title"><u>Statistics</u></h3>
            <table>
                <tr>
                    <th style="text-align: right;"><abbr title="Strength">STR</abbr></th>
                    <td>24 <i>(A)</i></td>
                </tr>
                <tr>
                    <th style="text-align: right;"><abbr title="Dexterity">DEX</abbr></th>
                    <td>12 <i>(C)</i></td>
                </tr>
                <tr>
                    <th style="text-align: right;"><abbr title="Constitution">CON</abbr></th>
                    <td>18 <i>(B)</i></td>
                </tr>
                <tr>
                    <th style="text-align: right;"><abbr title="Intelligence">INT</abbr></th>
                    <td>10 <i>(D)</i></td>
                </tr>
                <tr>
                    <th style="text-align: right;"><abbr title="Magic">MAG</abbr></th>
                    <td>3 <i>(F)</i></td>
                </tr>
                <tr>
                    <th style="text-align: right;"><abbr title="Charisma">CHA</abbr></th>
                    <td>8 <i>(D)</i></td>
                </tr>
            </table>
        </td>
        <td class="bordered" style="width: 35%;">
            <h3 class="title"><u>Abilities</u></h3>
            <table>
                <tr>
                    <div class="bordered-inner">
                        <h4><u>First Aid</u></h4>
                        <p><b>Speed:</b> 35 | <b>Cost:</b> 10</p>
                        <p>Restore <b title="INT x 1.00" style="color: blue;">[10]</b> health to a single ally.</p>
                    </div>
                </tr>
                <tr>
                    <div class="bordered-inner">
                        <h4><u>Cleave</u></h4>
                        <p><b>Requires:</b> Sword</p>
                        <p><b>Speed:</b> 90 | <b>Cost:</b> 25</p>
                        <p>Deals <b title="STR x 0.75" style="color: blue;">[18]</b> damage to all enemies.</p>
                    </div>
                </tr>
            </table>
        </td>
    </tr>
</table>