@using ThirtyDayHero;
@using Radzen;

<RadzenCard Style="width: fit-content;min-width: 200px">
    <div style="text-align: center;background-color: lightgray;width: 100%">
        <h3>@Actor.Name</h3>
    </div>
    <div class="row">
        <h4><abbr title="@Actor.Class.Desc">@Actor.Class.Name</abbr></h4>
    </div>
    <div class="row">
        <b>Level:</b>&nbsp;&nbsp; @Actor.Stats[StatType.LVL] 
        <br/>
        <RadzenProgressBar 
            Value="@Actor.Stats[StatType.EXP]" 
            Max="100" 
            ShowValue="true" 
            Style="margin-bottom: 10px;width: 100%" />
    </div>
    <div class="row">
        <b>Health:</b>&nbsp;&nbsp; @Actor.Stats[StatType.HP]/@Actor.Stats[StatType.HP_Max]
        <br/>
        <RadzenProgressBar 
            Value="@Actor.Stats[StatType.HP]" 
            Max="@Actor.Stats[StatType.HP_Max]" 
            ShowValue="false" 
            Style="margin-bottom: 10px;width: 100%" />
    </div>
    <div class="row">
        <b>Stamina:</b>&nbsp;&nbsp; @Actor.Stats[StatType.STA]/@Actor.Stats[StatType.STA_Max]
        <br/>
        <RadzenProgressBar 
            Value="@Actor.Stats[StatType.STA]" 
            Max="@Actor.Stats[StatType.STA_Max]" 
            ShowValue="false" 
            Style="margin-bottom: 10px;width: 100%" />
    </div>
</RadzenCard>

@code {
    [Parameter]
    public ICharacterActor Actor { get; set; }
}